# Python cache
__pycache__/
*.pyc

# Data outputs (generated)
picks_*.csv
player_count_*.csv
cookiejar.txt
page.html

# Local logs
*.log

# allow published csv under docs/data
!docs/data/*.csv
!docs/data/**/*.csv
*.swp
*.swo
